.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

/* This CSS class makes sure everything is full screen */
.particles {
  position: fixed; /* The background stays the same */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;  /* We can use z-index when using position: fixed to create the layers of our application. */
}
